<h4 class="answers_count"><%= pluralize(@question.answers.count, "Answer") %></h4>
<hr class="separation_line"></hr>
<% if @answers.any? %>
	<ul class="answers">
		<%= render @answers %>
	</ul>
<% end %>
