<h4>Questions Recently Answered</h4>
<% if @questions.any? %>
	<%= will_paginate @questions %>
	  <ul class="questions">
		<%= render partial: 'shared/question_item', collection: @questions %>
	  </ul>
	  <%= will_paginate @questions %>
<% else %>
	<h5>No questions recently answered...</h5>
<% end %>
