<div class="row">
  <div class="span12">
    <span class="question_content">
      <%= @question.content.html_safe %>
    </span>
    <% if @question.tags.any? %>
      <ul class="question_tags">
        <%= render partial: 'tags/tag', collection: @question.tags %>
      </ul>
    <% end %>
    <%if signed_in? %>
      <% if !current_user.admin? %>
        <p class="comment_text_question"> 
        <%= link_to("comment", 'javascript:;', id: 'question_comment_btn') %>
        </p>
      <% end %>
    <% else %>
      <p class="comment_text_question">
      <%= link_to("Log in", signin_path) %> to answer it!
      </p>
    <% end %>
    <div id="hidden_question_comment">
      <%= render 'comments/comment_form', commentable_id: @question.id , commentable: 'question'%>
    </div>
  </div>
</div>
<div class="row">
  <div class="span12">
    <%= render 'comments/all_comments', commentable: @question %>
  </div>
</div>
