<% provide(:title, 'Edit Question') %>
<% if current_user.admin? %>
	<h1>Edit Question</h1>
<% else %>
	<h1>Edit Your Question</h1>
<% end %>

<div class= "row" >
  <div class= "span6 offset3">
  <%= form_for(@question) do |f| %>
    <%= render 'questions/fields', f: f %>
    <%= f.submit "Update", disable_with: "Updating...", class: "btn btn-large btn-primary html_editor_submit_btn" %>
  <% end %>
  </div>
</div>
