<% provide(:title, 'Ask Question') %>
<h1>Ask Your Question</h1>

<div class= "row" >
  <div class= "span6 offset3">
    <%= form_for(@question) do |f| %>
      <%= render 'questions/fields', f: f %>
      <%= f.submit "Question it!", disable_with: "Posting...",  class: "btn btn-large btn-primary html_editor_submit_btn" %>
    <% end %>
  </div>
</div>
