<% provide(:title, @question.title) %>
<h2 class="question_title"><%= @question.title %></h2>

<% if current_user?(@question.user) %>
	<span class="question_item_autor">
		by <%= link_to "me", @question.user %>
	</span>
<% else %>
	<span class="question_item_autor">
		by <%= link_to @question.user.name, @question.user %>
	</span>
<% end %>

<%= render 'tags/add_tag' %>
<hr></hr>	

<div class="container">
  <%= render 'questions/question_content' %>

  <%= render 'questions/question_answers' %>

  <% if signed_in? && !current_user.admin? && !current_user?(@question.user) %>
    <%= render 'answers/answer_form' %>
  <% end %>
</div>
