<% provide(:title,'About Us') %>
<h1>About</h1>

<div class="hero-unit static_pages_text">
	<p>Question It is just the right place to come and look for the answer of that question that's on your head spinning around and can't leave you alone. So don't hesitate to <%= link_to "join", signup_path %> our community. </p>
	<p> Question It is at the hands of a star development team directed by:<b> Luis Crespo and Maria Jose Ramos.</b></p>
</div>
