<% provide(:title,'Contact') %>
<h1>Contact</h1>

<div class="hero-unit static_pages_text">
	<p>Suggestions?, Need Support?. Let our Questioners Support Team know! -> 
	<%= mail_to("question.it.site@gmail.com") %> </p>
</div>