<% provide(:title,'Help') %>
<h1>Help</h1>

<div class="hero-unit static_pages_text">
	<p><b>Lost in Question It?</b></p>

	<p>Steps to get going:</p>

	<ol>
	  
	  <li><%= link_to "Join", signup_path %> our community of questioners for free!</li>
    <li>Need an answer?, what are you waiting for?, you're already part of us, go and <%= link_to "question it!", newquestion_path %></li>
	  <li>On the mood to answer a question?, go and check the <%= link_to "complete list", allquestions_path %> of questions, or maybe just the <%= link_to "unanswered", unanswered_path %> ones.</li>
	  <li>I know what you're thinking, you don't have the answer but you wan't to say something, we got it for you, you can post a comment about every question or answer on the site.</li>
	  <li>Are you grateful with an answer of a question you've posted?, select that answer as the Best Answer!</li>
	  <li>Consider an answer awful? Vote It Down!</li>
	  <li>Consider an aswer awesome? Vote It Up!</li>
	  <li>But hey! Dont go so excited about that. You can only vote once by answer</li>
	  
	</ol>

	 <p> Not quite getting into the flow of Question It?, <%= link_to "contact us!", contact_path %> , we'll be happy to help you, questioner </p>
</div>
