<% provide(:title,'Home') %>

<div class="container">
	<div class="row">
		<div class="span2 sidebar">
			<%= link_to(image_tag("question_mark.png", :width => 65, :height => 65), allquestions_path ) %>
			<h4><%= link_to "Questions" , allquestions_path %></h4>
		
			<%= link_to(image_tag("user.png", :width => 65, :height => 65), allusers_path ) %>
			<h4><%= link_to "Users" , allusers_path %></h4>

			<%= link_to(image_tag("tags.png", :width => 65, :height => 65), tags_path ) %>
			<h4><%= link_to "Tags" , tags_path %></h4>
		
			<%= link_to(image_tag("unanswered.png", :width => 65, :height => 65), unanswered_path ) %>
			<h4><%= link_to "Unanswered" , unanswered_path %></h4>

			<%= link_to(image_tag("ask_question.png", :width => 65, :height => 65), newquestion_path ) %>
			<h4><%= link_to "Ask Question" , newquestion_path %></h4>
		</div>
		<div class="span9">
			<%= render 'questions/questions_recently_answered', collection: @questions %>
		</div>
	</div>
</div>
