<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Greetings from <strong>Question It</strong>,  <%= @user.name %></h1>
    <p>
      You have requested a password recovery. Here is your new password:
    </p>
    <p>
    <strong><%= @new_password %></strong>
    </p>
    <p>Hope you visit us soon!</p>
  </body>
</html>
