<% if commentable.comments.any? %>
	<div class="well well-small comments_container">
		<ul class="comments">
			<%= render partial: 'comments/comment', collection: commentable.comments %>
		</ul>
	</div>
<% end %>