<%= form_for(@comment) do |f| %>
  <%= f.text_area :content, rows: "4" %>
  <%= hidden_field_tag :commentable_id, commentable_id %>
  <%= hidden_field_tag :commentable, commentable %>
  <%= f.submit "Comment!", disable_with: "Posting...",  class: "btn btn-mini btn-primary comment_btn"%>
<% end %>
