<li>
	<div class="comment_box">
		<span class="comment_content">
			<%= comment.content %>
		</span>
		<span class="comment_item_info">
			commented <%= time_ago_in_words(comment.created_at)%> ago. 
			<% if current_user?(comment.user) %>
				By <%= link_to "me" , comment.user %>
			<% else %>
				By <%= link_to comment.user.name , comment.user %>
			<% end %>
		</span>
	</div>
	<hr></hr>
</li>