<li>
<span class="notification_title"><h4><%= notification.title %></h4></span>
<span class="notification_description"><%= notification.description %></span>
<span class="notification_author">
  <%= time_ago_in_words(notification.created_at) %> ago.
  By <%= link_to notification.issuer_user.name, notification.issuer_user %>
</span>
<span class="notification_question">
  <%= link_to "Go to question", erasenotification_path(id: notification.id), method: :put %>
</span>
</li>
