<% provide(:title, 'Notifications') %>
<h1>Notifications</h1>

<%= will_paginate @notifications %>

<% if @notifications.any? %>
  <ul class="notifications">
    <%= render @notifications %>
  </ul>
<% else %>
  <h5>No notifications...</h5>
<% end %>

<%= will_paginate @notifications %>
