<%= render 'shared/error_messages', object: f.object %>
<%= f.label :name %>
<%= f.text_field :name %>
			
<%= f.label :email %>
<%= f.text_field :email %>

<% if edit %>
  <%= link_to "change password", 'javascript:;', id: "change_password_btn" %>
<% end %>

<div id="password_fields" <% if edit %><%= 'style=display:none;' %><% end %>>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation, "Confirm Password" %>
  <%= f.password_field :password_confirmation %>
</div>

<%= f.label :city %>
<%= f.text_field :city %>
			
<%= f.label :country %>
<%= f.text_field :country %>
	
<%= f.label :birthdate %>
<%= f.date_select(:birthdate, start_year: 1930, end_year: 2011, order: [:day, :month, :year]) %>
			
