<% if !user.admin? %> 
	<li>
		<%= gravatar_for user, size: 52 %>
		<%= link_to user.name, user %>
		<span class="edit_delete_btn">
			<% if !current_user.nil? && current_user.admin? && !current_user?(user) %>
				<%= link_to "Edit", edit_user_path(user), class: "btn btn-warning btn-small"%>
				<%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure?" }, 
				class: "btn btn-danger btn-small"%>
			<% end %>
		</span>
	</li>
<% end %>