<% provide(:title,'Edit User') %>
<% if current_user?(@user) %>
	<h1>Edit Your Profile</h1>
<% else %>
	<h1>Edit User</h1>
<% end %>

<div class= "row" >
	<div class= "span6 offset3">
		<%= gravatar_for @user %>
		<%= link_to "Change your picture", "http://gravatar.com/emails", target: "_blank" %>
		<br></br><br></br>
		<%= form_for(@user) do |f| %>
			<%= render 'users/fields', f: f, edit: true %>
			<%= f.submit "Save changes", disable_with: "Saving...", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
