<% provide(:title, "All Users") %>
<h1>Users</h1>

<%= will_paginate @users %>

<% if @users.any? %>
  <ul class="users">
    <%= render @users %>
  </ul>
<% else %>
  <h5>No users...</h5>
<% end %>

<%= will_paginate @users %>
