<% provide(:title,'Sign Up') %>
<h1>Sign Up</h1>

<div class= "row" >
	<div class= "span6 offset3">
		<%= form_for(@user) do |f| %>
			<%= render 'users/fields', f: f, edit: false %>
			<%= f.submit "Create my account", disable_with: "Creating...", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
