<% provide(:title, 'Reset Password') %>
<h1>Reset Password</h1>

<div class="container">
  <div class="row">
    <div class="span6 offset3">
      <%= form_tag(changepassword_path, method: "post") do %>
        <%= label_tag :email, "Your email" %>
        <%= text_field_tag :email %>
        <%= submit_tag "Send password!", disable_with: "Sending...", class: "btn btn-large btn-primary" %>
      <% end %>    
    </div>
  </div>
</div>
