<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span12">
		<section>
			<h2>
				<%= @user.name %>
			</h2>
		</section>
	</aside>
</div>
<div class="left hero-unit">
	<%= gravatar_for @user, size: 150 %>
	<ul id="profile_info">
		<li>E-mail: <%= @user.email %> </li>
		<li>Location: <%= "#{@user.city} , #{@user.country}" %> </li>
		<li>Age: <%= calculate_age(@user.birthdate) %> </li>
	</ul>
</div>
