<li class="question_item">
  <span class="edit_delete_btn">
      <% if current_path?(myquestions_path) %>
        <%= link_to "Edit", edit_question_path(question_item), class: "btn btn-warning btn-small"%>
      <% end %>
      <% if !current_user.nil? && current_user.admin? %>
        <%= link_to "Edit", edit_question_path(question_item), class: "btn btn-warning btn-small"%>
        <%= link_to "Delete", question_item, method: :delete, data: {confirm: "Are you sure?" }, class: "btn btn-danger btn-small"%>
      <% end %>
  </span>
  <span class="question_item_title"><h4><%= link_to question_item.title, question_item %></h4></span>
  <span class="question_item_content"><%= clean_and_shorten(question_item.content) %></span>
  <% if !current_path?(myquestions_path) %>
	<% if current_user?(question_item.user) %>
		<span class="question_item_autor">Asked by <%= link_to "me", question_item.user %></span>
	<% else %>
		<span class="question_item_autor">Asked by <%= link_to question_item.user.name, question_item.user %></span>
	<% end %>
  <% end %>
  <span class="question_item_info">
    <%= pluralize(question_item.answers.count, 'answer') %> / Asked <%= time_ago_in_words(question_item.created_at) %> ago.
  </span>
</li>
