<li>

  <div class="row">
    <div class="span2">
      <%= render 'answers/answer_votes', answer: answer %>
      <% if answer.best_answer? %>
        <p class="best_answer">
        <%= image_tag "checkmark.png", height: "15", width: "15" %>
        best answer
        </p>
      <% end %>
    </div>

    <div class="span9">
      <% if current_user?(@question.user) && !answer.best_answer? %>
        <p class="add_best_answer">
			<%= link_to("select as best answer", bestanswer_path(id: answer.id), method: :put) %>
      <%= image_tag "star.png", height: "15", width: "15" %>
        </p>
      <% end %>
      <div class="hero-unit">
        <span class="answer_content">
          <%= answer.content.html_safe %>
        </span>
        <span class="answer_item_info">
          answered <%= time_ago_in_words(answer.created_at)%> ago. 
		  <% if current_user?(answer.user) %>
			By <%= link_to "me" , answer.user %>
		  <% else %>
			By <%= link_to answer.user.name , answer.user %>
		  <% end %>
        </span>
        <div class="hidden_answer_comment">
          <%= render 'comments/comment_form', commentable_id: answer.id, commentable: 'answer' %>
        </div>
      </div>
    </div> 
  </div>

  <div class="row">
    <div class="span3 offset8">
      <%if signed_in?	%>
        <% if !current_user.admin? %>
          <p class="comment_text_answer">
          <%= link_to("comment", 'javascript:;', class: 'answer_comment_btn') %>
          </p>
        <% end %>
      <% else %>
        <p class="comment_text_answer">
        <%= link_to("Log in", signin_path) %> to comment it!
        </p>
      <% end %>
    </div>
  </div>

  <div class="row"> 
    <div class="span9 offset2">
      <%= render 'comments/all_comments' , commentable: answer %>
    </div>
  </div>

  </li>
