<div class="center vote_counter">
  <h2><%= answer.vote %></h2>
</div>
<div class="center">
  <% if signed_in? %>
    <% if !current_user.admin? %>
      <%= link_to(image_tag("minus.png"), voteminus_path(id: answer.id), method: :put, class: 'vote_button' ) %>
      <%= link_to(image_tag("plus.png"), voteplus_path(id: answer.id), method: :put, class: 'vote_button') %>
      <%= image_tag "voting.gif", class: 'voting_gif' %>
    <% end %>
  <% else %>
    <p class="vote_text"><%= link_to "Log in", signin_path %> to vote it!</p>
  <% end %>
</div>
