<hr class="separation_line"></hr>
<div class="row">
	<div class="span12">
		<h3>Your Answer</h3>
        <%= form_for(@answer) do |f| %>
          <%= f.cktext_area :content, rows: "7", class: "html_editor" %>
          <%= hidden_field_tag :question_id, params[:id] %>
          <%= f.submit "Answer it!", disable_with: "Posting...",  class: "btn btn-large btn-primary html_editor_submit_btn" %>
        <% end %>
    </div>
</div>
