<%if !(current_user.nil? || current_user.admin?)%>
  <p class="add_tag_question">
  <%= image_tag "plus_tag.png", id: "add_tag_img", height: "15", width: "15" %>
  <%= link_to("Add Tag", 'javascript:;', id: 'add_tag_btn') %>
  </p>
<% end %>
<div class="row" id="hidden_add_tag">
  <span class="span4 offset8" id="existing_tag_form">
    <%= render 'tags/tag_form', new: false %>
  </span>    
  <span class="span4 offset8" id="new_tag_form">
    <%= render 'tags/tag_form', new: true %>
  </span>
  <span class="span4 offset8">
    <%= link_to("...or add new tag", 'javascript:;', id: 'add_new_tag_btn') %>
  </span>
</div>
