<li>
	<% if current_path?(tags_path) %>
		<div class="row">
			<div class="span3">
				<div class="well well-small tag_item">
					<span class="well well-small tag_name">
						<%= link_to tag.name, tag %>
					</span>
					<span class="tag_counter">
						<b>x <%= tag.questions.count %> </b>
					</span>
					<br></br>
					<span class="tag_description">
						<%= shorten(tag.description) %>
					</span>
					<span class="delete_tag_btn">
					  <% if !current_user.nil? && current_user.admin? %>
						<%= link_to(image_tag("delete.png", :width => 20, :height => 20), tag, method: :delete , data: {confirm: "Are you sure?" }) %>
					  <% end %>
					</span>
				</div>
			</div>
		</div>
	<% else %>
		<span class="well well-small tag_name">
			<%= link_to tag.name, tag %>
		</span>
	<% end %>
</li>
