<%= form_for(@tag) do |f| %>
  <% if new %>
    <%= f.text_field :name, placeholder: "New tag..." %>

    <%= f.text_area :description, rows: "2", placeholder: "Tag short description..." %>
  <% else %>
    <%= f.select :name, @tags, prompt: "Add existing tag..." %>
    <%= hidden_field_tag :existing, true %>
  <% end %>
  <%= hidden_field_tag :question_id, @question.id %>
  <%= f.submit "Add!", disable_with: "Adding...",  class: "btn btn-mini btn-primary add_btn"%>
<% end %>
