<% provide(:title, "Tags") %>
<h1>Tags</h1>

<%= will_paginate @tags %>

<% if @tags.any? %>
  <ul class="tags">
    <%= render @tags %>
  </ul>
<% else %>
  <h5>No tags...</h5>
<% end %>

<%= will_paginate @tags %>
