<% provide(:title, @tag.name) %>
<h1><%= @tag.name %></h1>


<div class="row" >
	<div class="span12">	
		<span class="tag_description">
			<h4> Description: </h4>
			<%= @tag.description %>
			<br></br>
			<h4> Questions with this tag: </h4>
		</span>
		<%= render 'shared/questions' %>
	</div>
</div>
