@import "bootstrap";

/* mixins, variables, etc */

$appleGreen: #99CC00;
$darkGreen: #336600;
$orangeLight: #FFF5E6;
$orangeDark: #F79C53;
$orangeNormal: #FF7519;
$mustard: #E68A00;
$greenLight: #DAFFC8;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* bootstrap overrides */

.dropdown-menu .divider {
  height: 1px;
  margin: 9px 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid $grayLight;
}

.badge-important {
  background-color: $orangeNormal;
}

.nav-pills a {
  color: $appleGreen;
}

.nav-pills .active a {
  background-color: $appleGreen;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  font-weight: normal;
  color: black;
}

h5 {
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
}

#logo_exclamation{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: $appleGreen;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
}

#logo:hover {
  color: $appleGreen;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}


/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 2px;
  margin-bottom: 15px;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

.html_editor_submit_btn {
  margin-top: 10px;
}

/* users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
	.edit_delete_btn {
		float: right;
	}
  }
}

/* questions */

.questions {
  list-style: none;
  margin: 10px 0 0 0;

  .question_item {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    .question_item_title {
      a { 
        color: $appleGreen; 
      }
    }
    .question_item_content {
      display: block;
      margin-bottom: 10px;
    }
    .question_item_info {
      float: right;
      color: $grayLight;
    }
    .question_item_autor {
      float: left;
      color: $grayLight;
    }
    .edit_delete_btn {
      float: right;
    }
  }
}

.question_title {
  color: $appleGreen;
}

.question_content{
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
}

/* profile information */

#profile_info{
  list-style: none;
  margin-left: 250px;
  li{
    margin-bottom: 15px;
  }
}

/* answers */

.answers {
  list-style: none;
  li{
    .answer_content{
      display: block;		
      font-size: 0.9em;
    }
    .answer_item_info{
      float: right;
      color: $grayLight;
      font-size:0.8em;
    }
  }
}


.answers_count {
  margin-top: 50px;
}

.separation_line{
  background-color: $appleGreen;
  height: 1px;
}

.add_best_answer {
  a {
    text-decoration: none;
    font-size: 1em;
    color: $mustard;
  }
}

.best_answer {
  color: $darkGreen;
  margin-top: 20px;
  text-align: center;
  font-size: 1.2em;
}


/* comments */

.comment_text_question {
  float: right;
  margin-top: 30px;
  a {
    &:hover{
      text-decoration: none;
    }
    color: $darkGreen;
  }
}


.comment_text_answer {
  float: right;
  a {
    text-decoration: none;
    color: $darkGreen;
  }
}


.comment_btn {
  float: right;
}

#hidden_question_comment {
  display: none;
}

.hidden_answer_comment {
  margin-top: 100px;
  display: none;
}

.comment_content {
  display: block;
}

.comment_item_info {
  float: right;
  color: $grayLight;
  font-size: 0.8em;
}

.comment_box {
  margin-top: 20px;
  margin-bottom: 40px;
}

.comments_container {
  margin-top: 10px;
  background-color: $orangeLight;
}

.comments {
  list-style: none;
}

/* user fields */

#change_password_btn {
  float: right;
}

/* votes */

.vote_counter {
  h2 {
    color: $grayLight;
  }
}

.voting_gif {
  display: none;
}

.vote_text {
  a {
    text-decoration: none;
    color: $darkGreen;
  }
}


/* tags */

#hidden_add_tag {
  display: none;
}

#new_tag_form {
  display: none;
}

.add_tag_question {
  float: right;
  a {
    &:hover{
      text-decoration: none;
    }
    color: $darkGreen;
  }

}

.add_btn {
  float: right;
}


.tags {
  list-style: none;
  margin: 0;
  li {
	display: inline-block;
    overflow: auto;
    padding: 10px 0;	
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

.tag_name{
  background-color: $orangeDark;
  a {
    text-decoration: none;
    color: white;
  }
}

.tag_counter {
	margin-left: 10px;
	font-size: 1.2em;
}

.tag_description{
  h4 {
    font-size: 1.4em;
    display: inline;
    color: $grayLight;
  }
}

.question_tags {
  list-style: none;
  margin-top: 0;
  li {
    display: inline-block;
    padding: 10px 0;
  }
}

.tag_item {
	padding: 15px;
	display: block;
	background-color: #D6F5D6;
}

.delete_tag_btn {
	float: right;
}


/* home */

.sidebar {
	text-align: center;
	border-right: solid 1px $grayLight;
	a {
		text-decoration: none;
		color: $grayLight;
	}
}

/* static pages */

.static_pages_text {
	text-align: justify;
	font-size: 1.1em;
	background-color: $greenLight;
}

/* notifications */

.notifications {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
    .notification_title {
      h4 {
        color: $orangeNormal;
      }
    }
    .notification_description {
      display: block;
    }
    .notification_question {
      a {
        text-decoration: none;
        color: $darkGreen;
      }
      float: right;
    }
  }
}
