<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
	  <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>