<header class="navbar navbar-fixed-top navbar-inverse">
<div class="navbar-inner">
  <div class="container">
    <%= link_to "Question It", root_path, id: "logo" %>
    <%= link_to "!", root_path, id: "logo_exclamation" %>
    <nav>
    <ul class="nav pull-right">
      <% if !signed_in? %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Log in", signin_path %></li>
      <% else %>
        <li><%= link_to "#{current_user.name}", current_user %></li>
        <li id="fat-menu" class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          Account
          <% if current_user.received_notifications.any? %>
            <sup>
              <span class="badge badge-important">
                <%= current_user.received_notifications.count %>
              </span>
            </sup>
          <% end %>
          <b class="caret"></b> 
        </a>
        <ul class="dropdown-menu" role="menu">
          <li><%= link_to "Profile", current_user %></li>
          <li><%= link_to "Edit", edit_user_path(current_user) %></li>
          <% if !current_user.admin? %>
            <li>
            <a href="<%= notifications_path %>">Notifications
              <% if current_user.received_notifications.any? %>
                  <span class="badge badge-important">
                    <%= current_user.received_notifications.count %>
                  </span>
              <% end %>
            </a>
            </li>
            <li><%= link_to "My Questions", myquestions_path %></li>
          <% end %>
          <li class="divider"></li>
          <li>
          <%= link_to "Log out", signout_path, method: "delete" %>
          </li>
        </ul>
        </li>
      <% end %>		
    </ul>
    </nav>
  </div>
</div>
</header>
