<% if !current_path?(root_path) %>
	<div class="container">
	  <ul class="nav nav-pills pull-right" id="subheader">
		<li <%= 'class=active' if current_path?(allquestions_path) %>>
		<%= link_to 'Questions', allquestions_path %>
		</li>
		<li <%= 'class=active' if current_path?(allusers_path) %>>
		<%= link_to 'Users', allusers_path %> 
		</li>
		<li <%= 'class=active' if current_path?(tags_path) %>>
		<%= link_to 'Tags', tags_path %> 
		</li>
		<li <%= 'class=active' if current_path?(unanswered_path) %>>
		<%= link_to 'Unanswered', unanswered_path %> 
		</li>
		<% if !current_user.nil? && !current_user.admin? %>
		  <li <%= 'class=active' if current_path?(newquestion_path) %>>
		  <%= link_to 'Ask Question', newquestion_path %> 
		  </li>
		<% end %>
	  </ul>
	</div>
<% end %>
