<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  
</head>
<body>
	<%= render 'layouts/header' %>
	<% if !current_path?(signup_path) && !current_path?(signin_path) && !current_path?(users_path) && !current_path?(sessions_path) %>
		<%= render 'layouts/subheader' %>
	<% end %>
	<div class= "container" >
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %> </div>
		<% end %>
		<%= yield %>
		<%= render 'layouts/footer' %>
	</div>
</body>
</html>
